*{
	margin: 0;
	padding: 0;
	/*border: solid;*/
	overflow: auto;
}
/*HEADER*/
header{
	top: 0;
	padding: .5%;
	background: #5AAA95;
	width: 100%;
	position: fixed;
	z-index: 5;
	overflow: hidden;
}
#home_button{
	padding-left: 1%;
}
#image_icon_header{
	float: right;
	margin: 1%;
}
.cbike1{
	margin-top: 17%;
	text-align: center;
}
#origincb, #h3cb{
	padding: 3%;
	width: 93%;
	clear: left;
	font-size: 2em;
}
.cbike2, .cbike3{
	text-align: center;
}
#origincb2, #h3cb2{
	padding: 3%;
	width: 93%;
	clear: right;
	font-size: 2em;
}
#origincb3, #h3cb3{
	padding: 3%;
	width: 93%;
	clear: right;
	font-size: 2em;
}
#cb1, #cb2, #cb3{
	display: inline;
	width: 60%;
}
#banner{
	width: 100%;
	position: absolute;
	z-index: -1;
}
.head1{
position: absolute;
margin: 3%;
background: transparent;
}
.h1{
	position: relative;
	float: right;
	margin: 6% 3.5%;
}
#namehome{
	float: left;
	position: absolute;
	margin-top: 12.5%;
	margin-left: 5.7%;
	color: white;
}
.cbike1, .cbike2, .cbike3, .rbike1, .rbike2, .rbike3, .mbike1, .mbike2, .mbike3{
	background: #034078;
	color: white;
}