*{
	margin: 0;
	padding: 0;
	border: solid;
	overflow: auto;
}
/*------------------------------------------------------------*/
/*HEADER*/
header{
	top: 0;
	padding: .5%;
	background: #5AAA95;
	width: 100%;
	position: fixed;
	z-index: 5;
	overflow: hidden;
}
#home_button{
	padding-left: 1%;
}
#image_icon_header{
	float: right;
	margin: 1%;
}
/*----------------------------------------------------------------------*/
/*Footer*/
footer{
	z-index: 4;
	margin-top: -150px;
	position: relative;
	text-align: center;
	background: #5AAA95;
	padding: 3%;
	color: white;
	font-family: Montserrat;
	font-size: 130%;
}
footer>a{
	color: white;
}
/*-----------------------------------------------------------------*/
